<!-- شريط التذييل -->
<footer>
    <div class="footer-icons">
        <a class="icon" id="groups-icon">
            <i class="fas fa-users"></i>
            <span>مجموعتك</span>
        </a>
        <a class="icon" id="cart-icon">
            <i class="fas fa-shopping-cart"></i>
            <span>السلة</span>
        </a>
        <a href="pages/add-post.html" class="icon highlight" id="add-button">
            <i class="fas fa-plus"></i>
            <span>إضافة</span>
        </a>
        <a class="icon" id="support-icon">
            <i class="fas fa-headset"></i>
            <span>الدعم</span>
        </a>
        <a class="icon" id="more-icon">
            <i class="fas fa-cog"></i>
            <span>المزيد</span>
        </a>
    </div>
</footer>
