<header class="common-header">
    <div class="gold-bar"></div>
    <div class="header-top">
        <!-- زر العودة -->
        <div class="icon" id="back-button">
            <i class="fas fa-arrow-right"></i>
        </div>

        <!-- الشعار والعنوان في المنتصف -->
        <div class="logo-container" data-route="">
            <img src="assets/images/tasreea.png" alt="منصة تسريع الإلكترونية" class="logo-image">
            <h1>منصة تسريع الإلكترونية</h1>
        </div>

        <!-- أيقونة الملف الشخصي -->
        <div class="icon auth-only" id="profile-header-icon" data-route="dashboard">
            <i class="fas fa-user"></i>
        </div>
    </div>
</header>
